/* Estilos generales */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: #1E1E1E;

    display: flex;
    justify-content: center;
    align-items: center;
  }
 
 
  
  /* Contenedor de autenticación */
  #contenedor {
    background-color: #2A2A2A;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0px 50px 20px 30px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }

  #contenedor label{
    color: #ffffff;
  }
 
  
 
  /* Estilos del formulario */
  #contenedor h2 {
    font-family: 'Times New Roman';
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
  }
 
  #contenedor h6{
    text-align: left;
  }
 
 
  #contenedor h3 {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
  }
  
  #contenedor img {
    width: 100px;
    margin: 20px 0;
    filter: drop-shadow(0px 0px  10px rgba( 255, 255, 255, 0.9));
  }
  
  /* Estilos para los inputs */
  input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input:focus {
    border-color: #00003d;
    outline: none;
  }
  
  /* Botones */
  button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00FF87;
  }
  
  /* Texto adicional */
  p {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  span {
    color: #00a2ff;
    cursor: pointer;
  }
  
  span:hover {
    text-decoration: underline;
  }
 
  .icon-close{
    width: 100px;
    height: 100px;
    margin: 15px 0 15px 0;
    color: #ffffff;
 }
 
  
  /* Formularios ocultos */
  .hidden {
    display: none;
  }
  
  /* Media Query para pantallas pequeñas */
  @media (max-width: 480px) {
    #contenedor {
      padding: 15px;
    }
  
    input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  }